<html>
    <head>
        <title>Blog</title>
        <link rel="stylesheet", href="/css/style.css">
        {{!-- <link rel="stylesheet", href="/css/bootstrap.css"> --}}
    </head>
    <body>
        <div class="container">
            <img class="logo" src ="/images/nodebloglogo.png" alt="logo">
        <nav>
            <ul>
                <li>
                    <a href="/">Home</a> 
                </li>
                <l1>
                    <a href="/addPost">Add Post</a>
                </l1>
                <li>
                    <a href="/addCategory">Add Category</a>
                </li>
                <li>
                    <a href="/register">User</a>
                </li>
            </ul>
            
        </nav>
        {{{body}}}
        <footer>
            <p>NodeBlog @copy; 2016</p>
        </footer>
    </div>    
    </body>
</html>